<div id="container">
  <div class="theawrapper">
    <p class="tickMovieName"><%= @tickets.first.movie.name %></p>
    <p class="tickMovieDeets"><%= @tickets.first.date.strftime("%A, %b %d") %> at<%= @tickets.first.time.strftime(" %l:%Mpm") %>
    </p>
    <div class="theatre">
        <% @tickets.each do |ticket| %>
      <div class="ticket available"><a href=""><%= ticket.seat %></a></div>
      <% end %>
    </div>
  </div>
</div>