<div id="container">
  <div class="theawrapper">
    <h1 class="tickMovieName"><%= @movie_id %></h1>
    <div class="theatre">
        <% @tickets.each do |ticket| %>
      <div class="ticket available"><a href=""><%= ticket.seat %></a></div>
      <% end %>
    </div>
    <h2 class="tickHandicap">*Handicap Seats must be purchased in person</h2>
  </div>
</div>