<div id="container">
  <div class="theatre">
      <h2>Screen</h2>
      <% @tickets.each do |ticket| %>
    <div class="ticket available"><%= ticket.time.strftime("%l:%Mpm") %> S<a href=""><%= ticket.seat %></a></div>
    <% end %>
  </div>
</div>